site_name: UniSum
site_url: 'https://UniSum.github.io' 

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.top
    - header.autohide
    - search.suggest
    - search.highlight
  
  palette:
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

nav:
  - 'Home': 'index.md'
